body{
  background-color: #ECEFF1 !important;
}

.AppContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
}



/*@font-face {
  font-family: 'FontAwesome';
  src: url('./components/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('./components/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
       url('./components/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
       url('./components/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
       url('./components/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'FontAwesome';
}
*/


.App {
  text-align: center;
}

